body {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    overflow: hidden;
    margin: 0;
}

body>div {
    width: 100%;
    max-width: 500px;
}

.main-header-wrapper {
    display: flex;
    height: 50px;
    margin: 10px 0;
    align-items: end;
}

.categories-list-wrapper {
    height: calc(100vh - 70px);
}

.heater-title {
    margin-left: 10px;
    font-size: 40px;
    line-height: 50px;
}

.logo {
    background: white;
    width: 50px;
    height: 50px;
}

.header {
    padding: 5px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.groups {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.group {
    display: block;
    background: white;
    color: black;
    height: 50px;
    padding: 5px;
    cursor: pointer;
}

.screen {
    height: 100vh;
}

.screen-header {
    display: flex;
    justify-content: space-between;
}

input {
    font-size: 40px;
    width: 100%;
    padding: 0;
    border: none;
    border-bottom: 1px solid white;
    background: black;
    color: white;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: white;
    color: black;
    font-size: 40px;
}
