html {
    height: 100%
}

body {
    margin: 0;
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto 100px;
    background: #2b2b2b;
    color: #bababa;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    cursor: default;
}

#header {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

#logo {
    width: 80px;
    height: 80px;
    background: #5084b8;
}

#title {
    margin-left: 10px;
    font-size: 50px;
    line-height: 50px;
}

#version {
    height: 50px;
}

#outlet {
    padding: 0 10px;
}
